/*
	CSS for the Desolate
	Chris McGuire

*/

/********** FONTS **********/
/*
font-family: 'Fira Mono', monospace;
font-family: 'Overpass Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;
*/


/********** DEFAULT STYLE **********/
/********** BODY **********/

body {
	font-family: 'Fira Mono', monospace;
	margin: 0 ;
}

a {
	color: #9A9995;
}

a:hover {
	color: #c0c0c0;
}

/********** WRAPPER **********/

#wrapper {
	max-width: 2000px;
	width: 100%;
	height: auto;
	margin: 0px auto;
	margin-left: 0px; 
	margin-bottom: 0px;
	background-image: url("../images/full_background_1.png");
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
} 

/********** NAV SCREEN **********/ 
/* The nav screen is hidden until the menu link is clicked */ 
	
#navScreenDiv {
	max-width: 2000px;
	width: 100%
}
	
.navScreen {
	display: none;
}
	
.show {
	opacity: 1;
}
	
.hide {
	opacity: .1;
	transition: opacity 1s;
}

.on{
	background-image: url("../images/backgroundNoise2.jpg");
}

.off{
	background-image: none;
	background-color: #fff;
	tansition: background-color 2s;
}

.displayScreen {
	position: fixed;
	max-width: 2000px;
	width: 100%;
	height: 100%;
	top: 0px;
	text-align: center;
	clear: both;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	z-index: 5;
}

#linkList {
	positon: fixed;
	max-width: 2000px;
	width: 100%;
	padding-left: 0;
	margin-top: 10%;
}

.navScreenLink {
	positon: fixed;
	display: block;
	font-size: 3em;
	text-align: center;
	max-width: 2000px;
	width: 100%;
	margin-top: 10px;
	
}

.boxLink:hover {
	background-color: #4A2C19;
	transition: background-color .5s;
	color: #ddd;
	transition: color .5s;
}

	
/***** HEADER *****/
	
#header {
	max-width: 2000px;
	width: 100%;
	height: 30em;
}
	
#menu {
	max-width: 2000px;
	width: 100%;
	display: block;
	position: fixed;
	top: 0px;
	font-size: 4em;
	background-color: rgba(66, 66, 66, 0.9);
	text-align: center;
	z-index: 9;
}

#menuLink {
	display: block;
	text-decoration: none;
}
	
#social {
	position: fixed;
	max-width: 2000px;
	width: 100%;
	margin: 0px auto;
	bottom: 0px;
	font-size: 3em;
	z-index: 9;
	text-align: center;
	background-color: rgba(66, 66, 66, 0.9);
}
	
#social ul {
	padding-left:0px;
	margin-top: 5px;
	margin-bottom: 0px;
}	
	
.socialButton, a {
	text-decoration: none;
}
	
#social, li{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
	
#mainLogo {
	max-width: 900px;
	width: 100%;
	margin: 0px auto;
}
	
#logo {
	max-width: 900px;
	width: 100%;
	margin: 5% auto;
}
	
/***** CONTENT *****/
#content {
	max-width: 2000px;
	width: 100%;
	background-color: rgba(44, 44, 44, .95);
	border-top: 2px solid #000;
	padding-bottom: 20px;
}
	
.borderDiv {
	width: 50%;
	margin: 15px auto;
	border-top: 1px solid #666;
	clear: both;
}
	
.pageTitle {
	color: #9A9995;	
	text-align: center;
	margin: 10px auto 10px auto;	
	font-weight: 100;
	font-size: 3em;
}
	
.albumCover {
	position: relative;
	max-width: 500px;
	width: 100%;
	height: auto;
}
	
.albumTitle {
	margin-top: 0;
	margin-bottom: 10px;
	display: block;
	color: #885A34;
	position: relative;
	font-size: 3em;	
	font-weight: 100;
	text-align: center;
}

.boxLink {
	color: #9A9995;
	position: relative;
	margin: 20px auto;
	width: 400px;
	display: block;
	border: 2px solid #4A2C19;
	font-size: 2.5em;
	font-weight: 100;
	background-color: #111;
	text-align: center;	
	padding: 10px;
}
	
#spotifyLinkTransAbom { 
	margin-top: 10px;
}

#spotifyLinkGreatDepart {
	margin-top: 10px;
}
	
.trackList {
	color: #9A9995;	
}

.trackList li {
	display: list-item;
	line-height: 2em;
}
	
/***** VIDEO *****/
	
#video {
	max-width: 1200px;
	width: 100%;
	height: auto;
	max-width: 500px;
}

#videoContainer {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 500px;
	margin-bottom: 20px;
}
	
#videoContainer iframe,
#videoContainer object,
#videoContainer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	
/***** SHOWS *****/
	
/***** CONTACT *****/
	
.emailLink {
	color: #9A9995;
	position: relative;
	width: 335px;
	display: block;
	border: 2px solid #4A2C19;
	font-size: 1.2em;
	padding: 7px;
	font-weight: 200;
	background-color: #111;
	text-align: center;
	margin: 0px auto;
}
	
#contactList {
	list-style-type: none;
	font-size: 1.2em;
	text-align: center;	
	padding-left: 0;
}
	
#contactList li {
	display: block;
	line-height: 2em;
	text-align: center;
}
	
/***** FOOTER *****/
#footer { 
	max-width: 2000px;
	width: 100%;
	height: 100px;
	border-top: 2px solid #666;
	background-color: rgba(44, 44, 44, .95);
	color: #9A9995;
	clear: both;
}

#copyright {
	display: block;
}

#footerNavLinks {
	display: none;
}

#emailDiv {
}

#email {
	display: none;
}

#emailAddress {
	color: #9A9995;
	display: none;	
}

#beefDiv {
	opacity: 0;
}

/********** SMALL SCREEN **********/
@media only screen and (min-width: 99px) and (max-width: 500px){
	/********** WRAPPER **********/

	#wrapper {
		max-width: 500px;
		background-image: url("../images/mobile_background_1.png");
		background-position: center top;
	}
	
	/********** NAV SCREEN **********/ 
		
	#navScreenDiv {
		max-width: 500px;
	}
		
	.displayScreen {
		max-width: 500px;
	}

	#linkList {
		max-width: 500px;
		margin-top: 10%;
	}

	.navScreenLink {
		max-width: 500px;
		font-size: 3em;
		margin-top: 10px;
	}
	
	/***** HEADER *****/
		
	#header {
		max-width: 500px;
		width: 100%;
		height: 30em;
	}
		
	#menu {
		max-width: 500px;
		font-size: 3em;
	}
		
	#social {
		max-width: 500px;
		font-size: 2em;
	}
		
	#mainLogo {
		max-width: 500px;
	}
		
	#logo {
		max-width: 500px;
		width: 100%;
		margin-top: 25%;
	}
	
	/***** CONTENT *****/
	#content {
		max-width: 500px;
		width: 100%;
	}
			
	/***** MUSIC *****/
	#music {
		max-width: 500px;
		width: 100%;	
	}
		
	#albumDiv {
		width: 100%;
		position: relative;
		margin: 0px auto;
	}
		
	#albumCover {
		max-width: 500px;
		width: 100%;
		position: relative;
		margin: 10px auto;
		height: auto;
	}
	
	/***** VIDEO *****/
	#video {
		max-width: 500px;
	}

	#videoContainer {
		max-width: 500px;
	}

	/***** SHOWS *****/
	
	#showDates {
		max-width: 500px;
	}
		
	/***** FOOTER *****/
	#footer { 
		max-width: 500px;
	}
	
}


/********** MED SCREEN PORTRAIT **********/
@media only screen and (min-width: 500px) and (max-width: 999px) and (orientation : portrait) {
	
	#wrapper {
		max-width: 999px;	
		width: 100%;
		background-image: url("../images/tablet_background_1.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center 2%;
	}
	
	#navScreenDiv {
		max-width: 999px;
		width: 100%;
		background-color: #000;
	}
	
	#navScreen {
		background-color: #000;
	}
	
	
	#linkList {
		positon: fixed;
		width: 100%;
		padding-left: 0;
		vertical-align: middle;
		margin-top: 20%;
	} 
	
	.navScreenLink {
		positon: fixed;
		display: block;
		font-size: 7em;
		margin-top: 40px;
		text-align: center;
		width: 100%;
		margin-top: 50px;
	}
	
	/***** HEADER *****/
	
	#header {
		max-width: 999px;
		width: 100%;
		height: 30em;
	}
	
	#menu {
		font-size: 8em;
	}

	#menuLink {
		text-decoration: none;
	}
	
	#social {
		font-size: 5em;
	}
	
	#mainLogo {
		width: 600px;
		height: auto;
		margin: 10% auto;
	}
	
	#logo {
		max-width: 999px;
		width: 100%;
		margin-top: 100px;
	}
	
	/***** CONTENT *****/
	#content {
		max-width: 999px;
		width: 100%;
		background-color: rgba(44, 44, 44, .95);
		border-top: 2px solid #000;
		padding-bottom: 20px;
	}
	
	.borderDiv {
		width: 50%;
		margin: 15px auto;
		border-top: 1px solid #666;
		clear: both;
	}
	
	.pageTitle {
		color: #9A9995;	
		text-align: center;
		margin: 10px auto 10px auto;
		font-weight: 100;
		font-size: 6em;
	}
	
	/***** MUSIC *****/
	.albumCoverDiv {
		max-width: 600px;
		margin: 20px auto;
		
	}
	
	.albumCover {
		position: relative;
		max-width: 600px;
		width: 100%;
		height: auto;
	}
	
	
	.albumTitle {
		margin-top: 0;
		margin-bottom: 10px;
		display: block;
		color: #885A34;
		position: relative;
		font-size: 4em;
		font-weight: 100;
		text-align: center;
	}
	
	.boxLink {
		color: #9A9995;
		position: relative;
		margin: 0 auto;
		margin-bottom: 25px;
		width: 500px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 4em;
		font-weight: 100;
		background-color: #111;
		text-align: center;
	}
	
	
	#spotifyLinkTransAbom { 
		margin-top: 25px;
	}

	#spotifyLinkGreatDepart {
		margin-top: 25px;
	}
	
	.trackList {
		width: 300px;
		color: #9A9995;	
		margin: 20px auto;
	}

	.trackList li {
		display: list-item;
		line-height: 2em;
		font-size: 2em;
		
	}
	
	/***** VIDEO *****/
	#video {
		width: 100%;
		max-width: 999px;
	}

	#videoContainer {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		max-width: 800px;
		margin: 0px auto;
	}
	
	#videoContainer iframe,
	#videoContainer object,
	#videoContainer embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.youtubeLink {
		color: #9A9995;
		position: relative;
		margin: 25px auto;
		width: 300px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 1.2em;
		font-weight: 100;
		background-color: #111;
		text-align: center;
		padding: 5px;
	}
	
	/***** SHOWS *****/
	
	/***** CONTACT *****/
	
	.emailLink {
		color: #9A9995;
		position: relative;
		width: 335px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 1.2em;
		padding: 7px;
		font-weight: 200;
		background-color: #111;
		text-align: center;
		margin: 0px auto;
	}
	
	#contactList {
		list-style-type: none;
		font-size: 5em;
		text-align: center;
		padding-left: 0;
	}
	
	#contactList li {
		display: block;
		line-height: 2em;
		text-align: center;
	}
	
	/***** FOOTER *****/
	#footer { 
		width: 100%;
		height: 100px;
		border-top: 2px solid #666;
		background-color: rgba(44, 44, 44, .95);
		color: #9A9995;
		clear: both;
		/* margin-top: -20px; */
	}
	
	#copyright {
		display: block;
		font-size: 1.5em;
	}

	#footerNavLinks {
		display: none;
	}

	#emailDiv {
	}

	#email {
		display: none;
	}

	#emailAddress {
		color: #9A9995;
		display: none;
		
	}

	#beefDiv {
		opacity: 0;
	}
	
}


/********** MED SCREEN LANDSCAPE **********/
@media only screen and (min-width: 500px) and (max-width: 999px) and (orientation : landscape) {
}


/********** FULL SIZE **********/	
@media only screen and (min-width: 1000px){
	#wrapper {
		background-image: url("../images/full_background_1.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	
	/***** HEADER *****/
	
	#header {
		width: 100%;
		height: 45em;
	}
	
	#menu {
		width: 200px;
		position: fixed;
		height: 35px;
		top: 10px;
		left: 20px;
		font-size: 2.5em;
		z-index: 9;
		float: left;
		background-color: rgba(0,0,0,0);
	}

	#menuLink {
		text-decoration: none;
	}
	
	#menuLink:hover {
		color: #ddd;
		font-size: 1.2em;
	}
	
	#social {
		position: fixed;
		height: 35px;
		width: 350px;
		margin: 0px auto;
		top: 10px;
		right: 20px;
		font-size: 2em;
		z-index: 9;
		text-align: center;
		float: right;
		background-color: rgba(0,0,0,0);
	}
	
	#social ul {
		padding-left:0px;
		margin-top: 5px;
		margin-bottom: 0px;
	}
	
	.socialButton, a {
		text-decoration: none;
	}
	
	#social, li{
		display: inline;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#mainLogo {
		max-width: 800px;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	
	#logo {
		width: 100%;
		margin-top: 100px;
	}
	
	.displayScreen {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		text-align: center;
		clear: both;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		z-index: 5;
	}

	#linkList {
		positon: fixed;
		width: 100%;
		padding-left: 0;
		vertical-align: middle;
		margin-top: 300px; 
	}

	.navScreenLink {
		positon: fixed;
		display: block;
		font-size: 2.5em;
		text-align: center;
		width: 100%;
		margin-top: 20px;
		
	}
	
	/***** CONTENT *****/
	#content {
		width: 100%;
		background-color: rgba(44, 44, 44, .95);
		border-top: 2px solid #000;
		padding-bottom: 20px;
	}
	
	.borderDiv {
		width: 50%;
		margin: 15px auto;
		border-top: 1px solid #666;
		clear: both;
	}
	
	/***** MUSIC *****/
	.albumCoverDiv {
		max-width: 600px;
		margin: 20px auto;
		
	}
	
	.albumCover {
		position: relative;
		max-width: 600px;
		width: 100%;
		height: auto;
	}
	
	.pageTitle {
		color: #9A9995;	
		text-align: center;
		margin: 10px auto 10px auto;
		font-weight: 100;
		font-size: 3em;
	}
	
	.albumTitle {
		margin-top: 0;
		margin-bottom: 35px;
		display: block;
		color: #885A34;
		position: relative;
		font-size: 2em;
		font-weight: 100;
		text-align: center;
	}
	
	.boxLink {
		color: #9A9995;
		position: relative;
		margin: 0 auto;
		width: 300px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 1.7em;
		font-weight: 100;
		background-color: #111;
		text-align: center;
		padding: 5px;
	}
	
	#spotifyLinkTransAbom { 
		margin-top: 10px;
	}

	#spotifyLinkGreatDepart {
		margin-top: 10px;
	}
	
	.trackList {
		width: 300px;
		color: #9A9995;	
		margin: 25px auto;
	}

	.trackList li {
		display: list-item;
		line-height: 2em;
		
	}
	
	/***** VIDEO *****/
	#video {
		width: 100%;
		max-height: 700px;
		
	}

	#videoContainer {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		max-width: 1200px;
		margin: 0px auto;
	}
	
	#videoContainer iframe,
	#videoContainer object,
	#videoContainer embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.youtubeLink {
		color: #9A9995;
		position: relative;
		margin: 25px auto;
		width: 300px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 2em;
		font-weight: 100;
		background-color: #111;
		text-align: center;
		padding: 5px;
	}
	
	#youtubeLink {
		margin-top: 25px;
	}
	
	/***** SHOWS *****/
	
	#shows {
		color: #9A9995;
	}
	
	/***** CONTACT *****/
	
	.emailLink {
		color: #9A9995;
		position: relative;
		width: 335px;
		display: block;
		border: 2px solid #4A2C19;
		font-size: 1.2em;
		padding: 7px;
		font-weight: 200;
		background-color: #111;
		text-align: center;
		margin: 0px auto;
	}
	
	#contactEmail {
		margin-top: 25px;
	}
	
	#contactList {
		list-style-type: none;
		font-size: 1.5em;
		text-align: center;
		padding-left: 0;
		margin: 20px auto;
		/* width: 335px; */
	}
	
	#contactList li {
		/* display: block; */
		line-height: 2em;
		text-align: center;
		width: 150px;
		margin: 0px auto;
	}
	
	/***** FOOTER *****/
	#footer { 
		width: 100%;
		height: auto;
		border-top: 2px solid #666;
		background-color: rgba(44, 44, 44, .95);
		color: #9A9995;
		clear: both;
		margin-bottom: 0px;
	}

	#copyright {
		display: block;
		float: left;
		
	}

	#footerNavLinks {
		display: none;
	}

	#emailDiv {
		position: relative;
		float: right;
		right: 20px;
		top: 15px;
	}

	#email {
	}

	#emailAddress {
		color: #9A9995;
		float: right;
		
	}
}